/* *{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

nav {
    height: 40px;
    width: 100%;
    background-color: #083d5d; */
    /* color: rgb(245, 236, 236); */
    /* justify-content: space-between; */
    /* position: fixed;
    align-items: center;
  justify-content: center;
  padding: 1px;
  font-size: 10px;
  color: #a5cee8;
 
}
.left{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: bold;
    padding: 4px;
    display: flex;
 
}
 .container{
   
    height: 700px;
    width: 230px;
    margin-left: 4px;
    margin-top: 11px;
    padding: 25px;
    overflow-y: scroll;
    align-items: center; */
     /* background-color: rgba(32, 30, 30, 0.338);  */
     /* background-color: #024067e8; 
     color: #010d15;
     
 
 }


a {
    text-decoration: none;
    color: #e7e8e9;
    font-family: bold;
    padding: 17px;
    font-size: 19px;
    font-family: 'poppins',sans-serif;
}


.content{
    text-align: center;
    margin-top: 90px;
    color: #083d5d;
}


.nev a:hover {
    border-bottom: 4px solid  #022d48;
}

.nev a sup {
    color: #ff3f6c;
    font-size: 10px;
    align-items: center;

}


.nav-toggle{
    display: none;
} */

/* responsive */


 
 /* @media screen and (max-width:1290px) {
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .nev a {
        display: none;
    }
}   */

















* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f4f8;
}

/* nav {
    height: 50px;
    width: 100%;
    background-color: #083d5d;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    color: #a5cee8;
    z-index: 1000;
}
 */








.nev {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  #083d5d;; /* or any background color */
    z-index: 1000; /* Ensures the nav stays above other content */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px; /* Adjust for spacing */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional for visual effect */
}








nav a {
    text-decoration: none;
    color: #e7e8e9;
    font-size: 16px;
    padding: 10px 15px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff3f6c;
    border-bottom: 2px solid #ff3f6c;
}

.nav-toggle {
    display: none;
    font-size: 24px;
    color: #e7e8e9;
    padding: 10px;
    cursor: pointer;
}

.content {
    text-align: center;
    margin-top: 70px;
    padding: 20px;
    color: #083d5d;
}




.left{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: bold;
    padding: 4px;
    display: flex;
 
}
 .container{
   
    height: 700px;
    width: 330px;
    margin-left: 4px;
    margin-top: 11px;
    padding: 25px;
    overflow-y: scroll;
    align-items: center; 
     /* background-color: rgba(32, 30, 30, 0.338);  */
     background-color:#024067e8;
     color: #010d15;
   
     
 
 }

.file{
    margin-left:  -10%;

}

.container a{
    font-size: 15px;
    margin-top: -2px;
    
}

a {
    text-decoration: none;
    color: #e7e8e9;
    font-family: bold;
    padding: 17px;
    font-size: 19px;
    font-family: 'poppins',sans-serif;
}


.content{
    text-align: center;
    margin-top: 90px;
    color: #083d5d;
}



/* #searchInput {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
} */

@media (max-width: 1290px) {
    .nav-toggle {
        display: block;
    }
    nav a {
        display: none;
        width: 100%;
        text-align: center;
    }
    .nav a.active {
        display: block;
    }
}




#searchInput {
    padding: 8px;
    margin-left: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
