<<<<<<< HEAD
/* body{
=======
body{
>>>>>>> c42fc968eb86e20ed3116c7968b49ee04f68a155
    font-size: 17px;
        font-weight: bold;
        background-color: #cbe1f7;
        color:rgba(13, 13, 117, 0.995) ;
        
}
/* frist button */

<<<<<<< HEAD
/* .next_button{
=======
.next_button{
>>>>>>> c42fc968eb86e20ed3116c7968b49ee04f68a155
    background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
       
       
        cursor: pointer;
        align-self: center; 
       
    }
    .both_button{
        display: flex;
        justify-content: space-between;
    }
    .Home_button{
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
       
       
        cursor: pointer;
        align-self: center; 
        
        
<<<<<<< HEAD
    } */
    /* second */
    /* .next_button{
=======
    }
    /* second */
    .next_button{
>>>>>>> c42fc968eb86e20ed3116c7968b49ee04f68a155
        background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
           
           
            cursor: pointer;
            align-self: center; 
           
        }
        .both_button{
            display: flex;
            justify-content: space-between;
        }
        .Home_button{
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
           
           
            cursor: pointer;
            align-self: center; 
            
            
<<<<<<< HEAD
        } */ 

        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #cbe1f7;
            margin: 15px;
            box-sizing: border-box;
            color: rgba(13, 13, 117, 0.995);
            font-size: 20px;
          
          
        
        
        }
        
        .container123 {
            margin-top: -203%;
           
        }
        
        .next_button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
        
            cursor: pointer;
            align-self: center;
            margin-bottom: 20px;
        }
        
        .pre_button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
        
            cursor: pointer;
            align-self: center;
            margin-bottom: 20px;
        
        }
        
        .both_button {
            margin: 5px;
            position: relative;
            top: 100px;
            display: flex;
            justify-content: space-between;
        }
        
        /* Align content to the left and make sure it's vertically aligned */
        .box1 {
        text-align: left; /* Ensures text aligns to the left */
        margin-left: 350px; /* Optional: Adds some space from the left edge of the container */
        word-spacing: 15px;
        margin-top: 5vh;
        line-height: 30px;
        }
        
        /* To prevent unwanted margin or padding affecting vertical alignment */
        .box1 b, .box1 p {
        margin: 0;
        padding: 0;
        }
        
        /* To make sure that the entire div content is properly aligned */
        #exam {
        margin-left: 20px; /* Adds indentation if needed for nested items */
        }
        
        
        .box3 {
            width: 900px;
            height: 400px;
            background-color: #272822;
            /* display: flex;
        justify-content: center;
        align-items: center; */
            color: rgb(239, 239, 232);
            overflow-y: scroll;
            margin-left: 50vh;
            margin-top: 5vh;
            border-radius: 10px;
            box-shadow: 0px 0px 12px rgb(72, 72, 72);
        }
        
        /* .inner_box3{
        width: 700px;
        height: 300px;
        background-color: rgb(221, 219, 219);
        /* overflow: scroll; */
        /* margin-left: 10vh;
        margin-top: 3vh;
        border-radius: 10px; */
        /* box-shadow:0px 0px 12px rgb(214, 210, 210); */
        }
        
        */ .Copy_button {
        
            /* color: wheat; */
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            /* margin-left: 1px; */
            cursor: pointer;
            /* background-color: #20dc74; */
            /* color: #007BFF; */
        }
        
        .buttn {
            margin-left: -800px;
            border-radius: 5px;
        
        }
        
        .Copy_button {
            color: #007BFF;
            background-color: transparent;
            border-radius: 5px;
=======
>>>>>>> c42fc968eb86e20ed3116c7968b49ee04f68a155
        }