body{
    font-family: 'Times New Roman', Times, serif;
    background-color:#cbe1f7;
    margin: 5px;
    box-sizing: border-box;
    color: rgba(13, 13, 117, 0.995);
    font-size: x-large;
}
.next_button{
    background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        
        cursor: pointer;
        align-self: center; 
        margin-bottom: 20px;
    }
    .pre_button{
        background-color: #007BFF;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
       
        cursor: pointer;
        align-self: center; 
        margin-bottom: 20px;
        
    }
    .both_button{
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }